# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
dist/
build/

# Project temp
icon.png
launcher.c
launcher.rc

# Windows
Thumbs.db
desktop.ini

# IDE
.vscode/
.idea/

# Environment
.env
*.local.json
bin/ffmpeg.exe
bin/*.exe
