# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
dist/
build/

# Windows
Thumbs.db
desktop.ini

# IDE
.vscode/
.idea/

# Environment
.env
*.local.json
bin/ffmpeg.exe
bin/*.exe
*.o
*.obj

# Binary files
*.exe
*.dll
*.so
*.dylib

# PyInstaller
*.spec

# Logs
logs/
